header {
  display: flex;
  display: grid;
  grid-template-columns: 1fr 50%;
  color: aliceblue;
  background-image: url("../src/backsplash.jpeg");
}

nav {
  display: grid;
}

.header-ul {
  display: flex;
  justify-content: space-around;
}

.header-li {
  display: inline;
  margin: 1rem;
  font-size: 1.5rem;
}

.header-a {
  text-decoration: none;
  color: aliceblue;
}

h1 {
  margin-left: 2rem;
}