header {
  display: grid;
  grid-template-columns: 1fr 50%;
  color: aliceblue;
  background-image: url("../src/backsplash.jpeg");
  background-size: cover;
  width: 100%;
}

.header-ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  display: block;
}

.header-li {
  margin: 1rem;
  font-size: 150%;
  list-style-type: none;
  text-align: right;
}

.header-a {
  text-decoration: none;
  color: aliceblue;
}

h1 {
  margin-left: 2rem;
}

#workNav {
  display: grid;
  grid-template-columns: 1fr 95% 1fr;
  grid-template-rows: 50vh 50vh 50vh 50vh 50vh;
}

.workCard {
  text-decoration: none;
  background-size: contain;
  background-repeat: no-repeat;
  grid-column: 2;
  grid-row: 0 1 2 3 4;
  border-radius: 10px;
  margin: 2rem;
}
  
.workCard:hover {
  opacity: 0.7;
}

.wsp {
  font-size: 150%;
  border-radius: 10px 0 10px 0;
  color:aliceblue;
  background-color: #0F0700;
  margin-top: 0px;
  padding: 2px;
  width: fit-content;
}

.footer-ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.footer-ul a {
  color: aliceblue;
  margin: 10px;
}

#helpForHire {
  background-image: url("./help-for-hire.png"); 
}

#recipeRoulette {
  background-image: url("./worksample2.png");
}

#weatherApp {
  background-image: url("./worksample3.jpg");
}

#workScheduler {
  background-image: url("./worksample4.png");
}

#commerceBackend {
  background-image: url("./worksample5.jpg");
}

@media screen and (min-width: 1000px) {
  .workCard {
    background-size: cover;
  }

  .header-li {
    display: inline;
  }
}